<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Positions</h1>
    <%= link_to "Upload CSV", uploads_path, class: "btn btn-primary" %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
      <thead class="table-light">
        <%= render 'table_header' %>
      </thead>
      <tbody>
        <%= render partial: 'position', collection: @active_positions %>
      </tbody>
    </table>
  </div>
</div>